.titulo-principal{
    padding-left: 20px;
}

.principal{
    background: #cccccc;
    padding: 30px;
}

.banner{
    width: 100%;
}

h2{
    text-align: center;
}

p{
    text-align: center;
}

#missao{
    font-size: 20px;
}

em strong{
    color: red;
}

.beneficios{
    background: #ffffff;
    padding: 20px;
}

h3{
    text-align: center;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.itens{
    font-style: italic;
}

.imagem-beneficios{
    width: 50%;
}